html, body{
  margin: 0;
  padding: 0;
  text-align: center;

}
.blog-title{
  margin: 0;
  padding-top: 10px;
  font-size: 2.2rem;
  font-family: 'Bebas Neue', cursive;
  line-height: normal;

}
.blog-para{
  margin: 0;
  padding-top: 10px;
  overflow-wrap: break-word;
  font-size: 1.3rem;
  font-family: 'Crimson Pro', serif;
  margin-bottom: 10px;
}

.blog-img{
  text-align: center;
}
